body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    background: white;
    opacity: 0.85;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    width: 100%;
    font-family: 'Droid Sans Mono', sans-serif;
}

/* To get rid of spinners in Chrome. */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editName {
    width: 130px;
}

.editBrand {
    width: 100px;
}

.editQty {
    width: 20px;
    padding: 0 6px;
}

.editMoney {
    width: 60px;
    padding: 0 6px;
}

.editProductGroup {
    width: 110px;
}

td.price, th.price {
    text-align: right;
}

td.lowestPrice, th.lowestPrice {
    color: red;
}

.thumbnailImageContainer {
    height: 150px;
    margin-bottom: 0px;

    position: relative;
}

    .thumbnailImageContainer img {
        max-height: 150px;
        max-width: 90%;
        
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto  
    }
