body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* To avoid content "jumping" when switching from a longer page (w/ scrollbar) and a shorter (w/o scrollbar) */
html {
    overflow-y: scroll;
}

#placeholderContent {
    left: 50%;
    top: 50%;
    position: absolute;    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    height: 200px;
}

#extraNavigationPlaceholder {
    margin-top: 9px;
    display: none;
}

.navbar-fixed-top {
    opacity: 0.95;
}

#footer {
   opacity: 0.85;
 }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    background: white;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    width: 100%;
    font-family: 'Droid Sans Mono', sans-serif;
}

@media print
{
    #footer {
        display: none;
    }
}

.sidebar {
    position: fixed;
    background: white;
    height: 100%;
}

.thumbnails > li {
    margin: 10px;
}

/* To get rid of spinners in Chrome. */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text] {
    padding: 0 4px;
    margin-bottom: 0;
}

.editName {
    width: 130px;
}

.editBrand, .editManufacturer {
    width: 80px;
}

.editQty {
    width: 35px;
}

.editUnitOfMeasure {
    width: 20px;
}

.editPrice {
    width: 60px;
}

.editProductGroup, .editProductSubGroup {
    width: 80px;
}

td.price, th.price {
    text-align: right;
}

td.lowestPrice, th.lowestPrice {
    color: red;
}

.table thead th {
    vertical-align: top;
}

.thumbnailImageContainer {
    height: 130px;
    margin-top: 0;

    position: relative;
}

    .thumbnailImageContainer img {
        max-height: 130px;
        max-width: 90%;
        
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto  
    }

    .thumbnail .name {
        font-weight: bold;
        overflow: hidden;
        text-overflow: clip;
        height: 19px;
        margin-top: 8px;
    }
